.header-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}
.chartbox {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: end
}

.top-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
    background-color: #0078a8;
}

.data-view-header {
    justify-self: center;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: bold;
    grid-row-start: 1;
    padding-top: 3vh;
    grid-column-start: 2;
}

.headerblue {
    color: #012d5a;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 36px;
}
