.pie-chart {
    width: 60vw;
    height: 60vh;
}


.chart-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
    width: 100%;
}

.bar-chart-title{
    font-family: 'Lato', serif;
    font-size: 1.5rem;
    margin-left: 2%;
    font-weight: bold;
    margin-top: 2%;
}

.stacked-bar-title{
    font-family: 'Lato', serif;
    font-size: 1.5rem;
    margin-left: 2%;
    font-weight: bold;
    margin-top: 2%;
}

.Piechart-title{
    font-family: 'Lato', serif;
    font-size: 2.5vh;
    margin-left: 1.5%;
    font-weight: bold;
    margin-top: 1.5%;
}
