.map-body {
    margin: 0;
    padding: 0;
}

.map {
    position: relative;
    width: 100px;
    height: 100px;
    style: "transform: translate3d";
}

.leaflet-container {
    width: 100vw;
    height: 90vh;
}

.map-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
