.service-form-Container {
    /* Positioning */
    width: 100vw;
    height: 90vh;
}

.service-form-BackBlue{
    /* Styling */
    background-color: #012d5a;

    /* Positioning */
    height: 100%;
    margin-left: 15%;
    margin-top: 10vh;
}

.service-form-TwoColumns {
    /* Styling */
    background-color: #012d5a;

    /* Positioning */
    display: grid;
    grid-template-columns: 100%; /* column ratios are split, also accounts for 2% gap */
    grid-template-rows: auto;
    width: 100%;
    height: 100%;
}

.service-form-TwoColumnsThirdRow {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    grid-column-gap: 2%;
}

.service-form-ThreeRows {
    /* Positioning */
    display: grid;
    grid-template-rows: 6% 50% 40%; /* percentages of Container height, has to add up to 100%, not over */
    grid-template-columns: auto;
    grid-row-gap: 2%; /* make sure to account for gap percentage when defining areas */
    margin: 2vw;
    /* order matter :) \/ */
    margin-right: 1vw; /* overrides margin padding, so there isn't double margin from ThreeRows and TwoRows */
}

.service-form-TwoRows {
    /* Positioning */
    margin: 2vw;
    margin-left: 1vw;
    display: grid;
    grid-template-rows: 20% 78%;
    grid-template-columns: auto;
    grid-row-gap: 2%;
}

.service-form-topcard {
    /* Styling */
    background-color: white;
    border-radius: 15px;

    /* Positioning */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    /*justify-content: center;*/
    /*justify-items: center;*/
    /*align-content: center;*/
    width: 100%;
    height: 100%;
}

.service-form-midcard {
    /* Styling */
    background-color: white;
    border-radius: 15px;

    /* Positioning */
    width: 100%;
    height: 100%;
}

.create-service-header {
    /* Text Styling */
    font-size: 4vh;

    /* Positioning */
    display: grid;
    justify-self: start;
    padding-left: 1vw;
    padding-top: 1vh;
    grid-area: s1;
}

.service-form-ChartCard {
    /* Styling */
    background-color: white;
    border-radius: 15px;
    height: 90%;
}

.service-form-TestCard {
    /* Styling */
    background-color: white;
    border-radius: 15px;
}

.service-form-ReqList {
    height: 100%;
}

.form-submit {
    align-self: center;
}

.modal-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5vh;
    overflow-y: auto;
    overflow-x: clip;
}

.form-top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*\/\/\/\/\/\/ OLD CODE /\/\/\/\/\/\/\/\/*/
/*@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");*/

/*.service-form-container * {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Open Sans", sans-serif;*/
/*}*/

/*.service-form-container {*/
/*    display: grid;*/
/*    grid-area: main;*/
/*    grid-template-columns: auto;*/
/*    grid-template-rows: auto;*/
/*    grid-template-areas:*/
/*            "s1 s1 s1 s1"*/
/*            "s2 s2 s2 s2";*/
/*    align-items: start;*/
/*    height: 100vh;*/
/*    padding-top: 1%;*/
/*}*/

/*.header-container {*/
/*    display: grid;*/
/*    grid-area: s1;*/
/*    justify-self: center;*/
/*    align-self: start;*/
/*}*/

/*.nav-container-extended {*/
/*    grid-area: navbar;*/
/*    width: 100%;*/
/*    height: 125%;*/
/*    background-color: #012d5a;*/
/*}*/


/*.button-container {*/
/*    display: grid;*/
/*    grid-area: s1;*/
/*    justify-self: center;*/
/*    justify-items: center;*/
/*    align-self: center;*/
/*    column-gap: 10vw;*/
/*    width: 90%;*/
/*    height: 70%;*/
/*}*/

/*.carousel-button {*/
/*    display: inline-grid;*/
/*    background-image: linear-gradient(*/
/*            #012d5a,*/
/*            #0C4682 75%,*/
/*            white 25%,*/
/*            white);*/
/*    border-radius: 30px;*/
/*}*/

/*.carousel-button .MuiButton-root {*/
/*    border-radius: 30px;*/
/*}*/


/*.form-container {*/
/*    grid-area: s2;*/
/*    justify-self: center;*/
/*    align-self: end;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*    justify-items: center;*/
/*    justify-content: center;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding-top: 12vh;*/
/*    width: 40%*/
/*}*/

/*.input-field {*/
/*    margin-top: 1vh;*/
/*    min-width: 100%;*/
/*}*/

/*.top-space {*/
/*    padding-top: 2vh;*/
/*}*/

/*.row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-basis: 100%;*/
/*    flex: 1;*/
/*    padding-bottom: 2vh;*/
/*}*/

/*.column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    height: 100%;*/
/*    padding-right: 2vw;*/
/*}*/

/*.full-row {*/
/*    min-width: 100%;*/
/*    align-self: stretch;*/
/*}*/

/*.service-form-container .container {*/
/*    align-items: center;*/
/*    !*width: 30vw;*!*/
/*    !*height: 50vh;*!*/
/*    !*border-radius: 2%;*!*/
/*    !*padding: 30px;*!*/
/*    !*text-align: center;*!*/
/*    !*border: 1px solid rgba(0, 0, 0, 1);*!*/
/*    !*backdrop-filter: blur(7px);*!*/
/*    !*-webkit-backdrop-filter: blur(7px);*!*/
/*}*/

/*.service-form-container form {*/
/*    display: flex;*/
/*    flex-direction: column;*/

/*}*/

/*.service-form-container h1 {*/
/*    !*font-size: 2rem;*!*/
/*    margin-bottom: 5vh;*/
/*    font-family: "Open Sans", sans-serif;*/
/*    color: #012d5a;*/
/*}*/

/*.buttonColor {*/
/*    background-color: #115293;*/
/*    align-items: center;*/

/*}*/
