@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

.service-form-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.service-form-container {
    display: grid;
    grid-area: main;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
            "s1 s1 s1 s1"
            "s2 s2 s2 s2";
    align-items: start;
    height: 100vh;
    padding-top: 1%;
}

.header-container {
    display: grid;
    grid-area: s1;
    justify-self: center;
    align-self: start;
}

.button-container {
    display: grid;
    grid-area: s1;
    justify-self: center;
    justify-items: center;
    align-self: center;
    column-gap: 10vw;
    width: 90%;
    height: 70%;
}

.carousel-button {
    display: inline-grid;
    background-image: linear-gradient(
            #012d5a,
            #0C4682 75%,
            white 25%,
            white);
    border-radius: 30px;
}

.carousel-button .MuiButton-root {
    border-radius: 30px;
}


.form-container {
    display: grid;
    grid-area: s2;
    justify-self: center;
    align-self: end;
    padding-top: 64px;
}

.service-form-container .container {
    align-items: center;
    /*width: 30vw;*/
    /*height: 50vh;*/
    /*border-radius: 2%;*/
    /*padding: 30px;*/
    /*text-align: center;*/
    /*border: 1px solid rgba(0, 0, 0, 1);*/
    /*backdrop-filter: blur(7px);*/
    /*-webkit-backdrop-filter: blur(7px);*/
}

.service-form-container form {
    display: flex;
    flex-direction: column;

}

.service-form-container h1 {
    /*font-size: 2rem;*/
    margin-bottom: 5vh;
    font-family: "Open Sans", sans-serif;
    color: #012d5a;
}

.buttonColor {
    background-color: #115293;
    align-items: center;

}



/*.service-form-container .input-field {*/
/*    position: relative;*/
/*    margin: 15px 0;*/
/*}*/

/*.service-form-container .input-field label {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    transform: translateY(-50%);*/
/*    color: black;*/
/*    font-size: 16px;*/
/*    pointer-events: none;*/
/*    transition: 0.15s ease;*/
/*}*/

/*.service-form-container .input-field input {*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    background: transparent;*/
/*    border: none;*/
/*    outline: none;*/
/*    font-size: 16px;*/
/*    color: black;*/
/*}*/

/*.service-form-container .input-field input:focus~label,*/
/*.service-form-container .input-field input:valid~label {*/
/*    font-size: 0.8rem;*/
/*    top: 10px;*/
/*    transform: translateY(-120%);*/
/*}*/

/*.service-form-container .container a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/

/*.service-form-container .container a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*.service-form-container button {*/
/*    background: #fff;*/
/*    color: #000;*/
/*    font-weight: 600;*/
/*    border: none;*/
/*    padding: 12px 20px;*/
/*    cursor: pointer;*/
/*    border-radius: 3px;*/
/*    font-size: 16px;*/
/*    border: 2px solid transparent;*/
/*    transition: 0.3s ease;*/
/*}*/

/*.service-form-container button:hover {*/
/*    color: #fff;*/
/*    border-color: #fff;*/
/*    background: rgba(255, 255, 255, 0.15);*/
/*}*/
