.logo-style {
  margin-left: 3%;
  width: 95%;
}

.translate-card {
  display: flex;
  justify-self: end;
}

.profile-card {
  display: flex;
  flex-direction: row;
  gap: 10%;
  max-height: 10vh;
  align-items: center;
  justify-self: center;
}

.profile-text {
  font-family: Lato;
  color: white;
  width: 10vw;
}

.profile-icon {
  border-radius: 50%;
  max-height: 7vh;
}

.profile-icon:hover {
  filter: brightness(75%);
}
