.logo-style {
    margin-left: 3%;
    width: 95%;
}

.profile-card {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-top: 3%
}

.profile-text {
    font-family: Calibri;
    color: white;
}
