/*import background_img from "../images/hpphoto.jpeg";*/

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  /*background-image: url("images/hpphoto.jpeg");*/

  font-size: 18px;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.heading-text {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1.6px;
  font-weight: bold;
}

.text-block {
  max-width: 600px;
}

.example-component {
  background-color: cyan;
}

.body {
  /*background-image: url("paper.gif");*/
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* background-image: url("images/hpphoto.jpeg");*/
}

.App {
  text-align: center;
  margin: auto;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/hpphoto.jpeg");
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.App-header {
  font-family: "Calibri", serif;
  font-size: 48px;
  text-align: center;
  color: cornflowerblue;
}

.Small-label {
  font-size: 14px;
  color: forestgreen;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
}

.navbar-butn {
  float: left;
}

.navbar-butn a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-butn a:hover {
  background-color: #111;
}

#map-container {
  position: relative;
}
#map-image {
  width: 100%;
  height: auto;
  display: block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  font-family: "Times New Roman", serif;
  font-size: 18px;
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border: none;
  text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkgrey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: black;
}

.logo img {
  width: 20%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
