/*import background_img from "../images/hpphoto.jpeg";*/

:root {
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    /*background-image: url("images/hpphoto.jpeg");*/
    font-size: 18px;
    line-height: 1.4;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

.heading-text {
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -1.6px;
    font-weight: bold;
}

.text-block {
    max-width: 600px;
}

.example-component {
    background-color: cyan;
}

.App {
    text-align: center;
    margin: auto;
}

.App::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/hpphoto.jpeg");
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.App-header {
    font-family: "Calibri", serif;
    width: 100%;
    font-size: 3vw;
    text-align: center;
    color: black;
}

.Small-label {
    font-size: 14px;
    color: black;
}

#map-container {
    position: relative;
}

/*maps the image*/
#map-image {
    width: 100%;
    height: auto;
    display: block;
}

.logo img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 0;
    left: 8px;
    margin-top: 1%;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.body {
    vertical-align: center;
    background-color: white;
    text-align: center;
    max-width: 300px;
    margin: 8px;
    max-height: 300px;
    padding: 50px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.checkbox {
    cursor: pointer;
}

table {
    margin: auto;
}

td {
    padding-left: 3vw;
    padding-right: 3vw;
}






